<br />
<br />
<h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Education</h2>
<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3" id="education">
  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img src="./assets/Idatlogo.png" alt="Logo" class="shrink-0 size-10 mb-3" />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2023 - 2025
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      IDAT
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Instituto Superior Tecnológico
    </p>
  </div>

  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img
      src="./assets/Icpna.jpg"
      alt="Logo"
      class="shrink-0 size-10 mb-3"
    />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2023 - 2025
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      ICPNA
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Instituto Cultural Peruano Norteamericano
    </p>
  </div>
</div>
<!-- End Grid -->
